@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
	   url('../font/symbols-sedona.woff?60737633') format('woff'),
	   url('../font/symbols-sedona.ttf?60737633') format('truetype'),
	   url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
	font-family: 'symbols-sedona';
	src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
	 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

/* Общие */

body {
	font-size: 14px;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.container {
	position: relative;
	max-width: 1200px;
	min-width: 768px;
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}

.container-hotels{
	width: auto;
	margin: 0 auto;
	padding-left:70px;
	padding-right:80px;
	background-color: #fff;
}

.container p{
	margin: 0;
}

a:link,
a:visited,
a:hover,
a:active { 
color: #000;
text-decoration: none;
}

.to-left{
	float: left;
}

.to-right{
	float: right;
}

img{
	border: 0; 
}

.blue-btn{  
	background-color: #81b3d2;
}

.blue-btn:hover { 
  background-color: #669ec0;
}

.blue-btn:active { 
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}


.brown-btn{
	background-color: #766357;
}
.brown-btn:hover { 
  background-color: #604e43;
}

.brown-btn:active { 
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

a, input { 
	outline: none;
}


/* Навигация*/

.main-navigation {
	width: 100%;
}

.main-navigation ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 16px 0;
}

.main-navigation a {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	color: #000;
}

.main-navigation li a:hover {
	color: #81b3d2;
}

.main-navigation li a:active {
	color: #cacaca;
}

.main-navigation .active a {
	color: #766357;
}

.main-navigation .active a:hover {
	color: #8f837e;
}

.main-navigation .active a:active {
	color: #cacaca;
}

.logo{
	position: relative;
	text-align: center;
	z-index: 10;
}

.logo a, .logo span {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.logo img{
	width: 138px;
	height: 70px;
}

/*Футер */

footer{
	width: 100%;
	padding-top: 36px;
	padding-bottom: 35px;
	color: #000;
	font-size: 0px;
	text-align: center;
}


.main-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 120px;
	color: #000;
	font-size: 0px;
	background-color: rgba(255, 255, 255, 0.9);
}


.footer-index{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.footer-box{
	font-size: 0;
	width: 33.333333%;
	display: inline-block;
	vertical-align: top;
}

.tag{
	margin-top: 10px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.tag a:hover{
	color: #81b3d2;
}

.tag a:active{
	color: #cacaca;
}

.social a{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	width: 47px;
	height: 48px;
	margin-right: 5px;
	color: #fff;
	background: #81b3d2;
}

.social i{
	position: absolute;
	top: 30%;
	left: 25%;
}

.social i:active{
	opacity: .3;
}

.social a:hover{ 
	background-color: #669ec0; 
}

.social a:active{ 
	background-color: #5496bd; 
}

.copyright{
	padding-top: 7px;
	padding-left: 17px;
}

.footer-box span{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000;
	padding: 0;
	padding-right: 8px;
}

.logo-footer{
	display: inline-block;
	vertical-align: middle;
	width: 135px;
	height: 33px;
	margin: 0;
	background: url("../img/pict/logo-academy.png") no-repeat;
}

.logo-footer:hover{
	background: url("../img/pict/logo-academy-hvr.png") no-repeat;
}

.logo-footer:active{
	background: url("../img/pict/logo-academy.png") no-repeat;
	opacity: .3;
}

/* Приветствие*/

.welcome{
	position: relative;
	width: 100%;
	min-height: 506px;
	text-align: center;
	background: #5f8caa url("../img/images/bg-photo-main.jpg") no-repeat 50% 22%;
	border-top: 1px solid transparent;
	background-size: cover;
}

.welcome::after {
	display:block;
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 62px;
	background: url("../img/images/mask.png") no-repeat 50% 0;
	background-size: 100% 100%;
	background-size: cover;
}

.welcome img{
	margin-top: 75px;
	width: 458px;
	height: 352px;
}

.section-header {
	width: 510px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 53px;
	text-align: center;
}

.section-header .main-caption{
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding-bottom: 30px;
}


/* Основной блок */

.reasons-features-advantages {
	text-align: center;
}

.reasons{
	width: 33.333333333333%;
	height: 256px;
	padding: 4%;
	background-color: #81b3d2;
	color: #fff;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.reasons .reasons-caption{
	width: 160px;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;
	padding-top: 3px;
}

.advantages-row{
	background-color: #eee;
	min-height: 208px;
	padding-top: 48px;
}

.advantages{
	width: 33.333333333333%;
	padding: 0 4%;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.advantages .advantages-caption{
	width: 160px;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;
}

.advantages .number{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 18px;
}

.reasons .number{
	margin: 0;
	padding-top: 12px;
	padding-bottom: 23px;
}

.photo{
	width: 66.66666666666%;
	height: 256px;
	overflow: hidden;
}
.photo img{
	position: relative;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.features-row{
	padding-top: 60px;

}

.features-box{
	width: 33.333333333333333333%;
	min-height: 270px;
	padding: 0 4%;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.features-img{
	min-height: 80px;
	min-width: 64px;
}

.features-img img{
	max-width: 100%;
}

.features-box .features-caption {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin: 0;
	padding-top: 21px;
}

.features-box p{
	padding-top: 21px;
}

/* Форма подбора отеля*/

.filters{
	width: 100%;
	background: #5496bd url("../img/images/bg-photo-mainblur.jpg") no-repeat 100% 0%;
}

.filters-infrastructure{
	min-width: 240px;
}

.filters-housing {
	padding-left: 12px;
	max-width: 200px;
}

.filters input[type=checkbox] { 
	display: none; 
}

.filters input[type=checkbox] + label {
  display: block;
  position: relative;
  padding: 12px 0;
  padding-left: 35px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.filters input[type=checkbox] + label::before {
  display: block;
  position: absolute;
  left: 0;
  content: "\2610";
  font-family: "symbols-sedona";
  font-size: 26px;
  opacity: .7;
  cursor: pointer;
}

.filters input[type=checkbox]:checked + label::before {
	display: block;
	position: absolute;
	left: 0;
	content: "\2611";
	font-family: "symbols-sedona";
	font-size: 26px;
	opacity: .7;
	cursor: pointer;
}

.filters input[type=checkbox] + label:hover::before, 
.filters input[type=checkbox]:checked + label:hover::before{
	opacity: 1;
}

.filters input[type=checkbox]:disabled + label::before {
	display: block;
	position: absolute;
	left: 0;
	content: "\2610";
	font-family: "symbols-sedona";
	font-size: 26px;
	opacity: .1;
}

.filters input[type=checkbox]:checked:disabled + label::before {
	display: block;
	position: absolute;
	left: 0;
	content: "\2611";
	font-family: "symbols-sedona";
	font-size: 26px;
	opacity: .1;
  }

.filters-cost {
	width: 30%;
	max-width: 600px;
	padding: 0 1%;
}

.filters-container, 
.header-results-container,
.results-hotel-container{
	width: calc(100% * 0.8 + 93px);
	margin: 0 auto;
}

.filters-container{
	padding-top: 27px;
	padding-bottom: 20px;
}

.filters-container .filters-caption{
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	margin: 0;
	margin-bottom: 15px;
}

.filters-cost .cost{
	margin-bottom: 5px;
}

.filters-cost-text{
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 3px 0;
  margin-top: 10px;
}

.filters-cost-text-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.filters-cost-text-container::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  height: 30px;
  width: 2px;
  background-color: #fff;
}

  .filters-cost-text-container input[type="number"] {
  border: none;
  outline: none;
  background-color: transparent;
  width: 18%;
}

.filters-cost-text-container input[type="number"],
.filters-cost-text-container label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  padding: 3px 1%;
 }

.filters-cost-text-container label {
  width: 10%;
  margin-left: 15%;
}

.bar {
  height: 2px;
  background: rgba(255,255,255,1);
}

.filters-cost-range{
	position: relative;
	height: 54px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}

.scale {
  margin-top: 20px;
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
}

.toggle:hover{ 
	background: #1c4f80; 
}

.max-toggle{
	margin-left: -15px;
}

.filters-cost-show{
	width: 136px;
	margin: 0 auto;
}

.filters-cost-show .filters-cost-show-btn{
	display: block;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 4px 34px;
}

.filters-cost-show-btn:hover{
	background-color: #fff;
	color: #000;
}

.filters-cost-show-btn:active{
	outline: none;
	background-color: #ababab;
}

/* Строка вывода результатов */


.header-results-container{
	padding: 30px 0;
}

.results .results-caption{
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}

.wrap-80{
	width: 80%;
	font-size: 0;
}

.wrap-20{
	width: 20%;
}

.results-sort, .results-caption{
	display: inline-block;
	vertical-align: middle;
}

.results-sort a, .results-sort p{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
}

.results-sort p{
	font-size: 12px;
	line-height: 18px;
	padding: 0 30px;
	margin-left: 15px;
	max-width: 90px;
}

.results-sort a:hover{
	color: #81b3d2; 
}

.results-sort a:active { 
	color: #cacaca;
}

.results-sort a.active:link,
.results-sort a.active:visited,
.results-sort a.active:hover,
.results-sort a.active:active{
  color: #81b3d2;
}

.results-sort a{
  font-size: 12px;
  line-height: 14px;
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-right: 30px;
  padding: 1px 0;
  max-width: 90px;
}

.sorters {
	font-size: 0;
	padding-right: 5px;
	padding-top: 2px;
}

.sorters a{
	display: inline-block;
	font-size: 21px;
	color: #cccccc;
	margin-right: -9px;

}

.sorters a:hover{
	color: #000;
}

.sorters a:active {
  color: #81b3d2;
 }

.sorters .active{
	color: #81b3d2;
}

/*Список отелей*/

.results-hotel{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 19px;
}

.hotel-photo img{
	height: 90px;
	width: 135px;
}

.rate{
	max-width: 120px;
	text-align: right;
	padding-right: 5px;
}

.rate-text{
	display: inline-block;
	vertical-align: top;
	min-width: 109px;
	min-height: 27px;
	padding-bottom: 3px;
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 14px;
	color: #666;
	background-color: #f2f2f2;
	box-sizing: border-box;
}

.stars{
	margin-bottom: 36px;
	font-size: 0;
	margin-right: -2px;
	margin-top: -3px;
}

.stars i{
	font-size: 19px;
	margin-right: -3px;
	color: #81b3d2;
}

.hotel-caption{
	display: block;
	font-size: 21px;
	font-weight: bold;
	color: #000;
	padding-bottom: 10px;
	margin-top: -3px;
}

.hotel-caption:hover {
	color: #81b3d2; 
}

.hotel-caption:active {
	color: rgba(0,0,0,0.3);
}

.header-results, .results-hotel{
	border-bottom: 1px solid #e5e5e5;
}

.hotel-info{
	max-width: 500px;
	margin-left: 32px;

}
.hotel-info-text{
	font-size: 0;
	padding-bottom: 13px;
}

.hotel-info-text p{
	display: inline-block;
	vertical-align: top;
	min-width: 105px;
	font-size: 14px;
	line-height: 21px;
	padding-right: 10px;
}

.hotel-info-btn-row a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 16px;
	margin-right: 6px;
	max-width: 150px;
}

/* Поиск отеля*/

.hotel-search{ 
	position: relative; 
}

.search-header{ 
	max-width: 568px;
	margin: 0 auto;
	text-align: center;
	padding-top: 56px;
	padding-bottom: 130px;
}

.search-header .search-caption{
	font-size: 30px;
	margin: 0;
}

.search-header p{
	line-height: 24px;
	padding-top: 36px;
}

.hotel-search-box{
	position: absolute;
	width: 568px;
	left: 50%;
	margin-top: -86px;
	margin-left: -285px;
	min-height: 500px;
	z-index: 1;
}

.hotel-search-box .hotel-search-btn{
	display: block;
	width: 568px;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 32px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #fff;
	background-color: #766357;
	border: none;
	outline:none;
	cursor: pointer;
}

.hotel-search-btn:active{
	outline: none;
}


/* Выезжающая форма поиска отеля*/


.hotel-search-box .form-layout-row{ 
	margin-bottom: 25px; 
}
.hotel-search-box .form-layout-row:last-child{ 
	margin: 0;  
}

.hotel-search-box label{
	display: block;
	font-weight: bold;
	width: 106px;
	padding: 9px 3px;
}

.hotel-search-box input{ 
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.hotel-search-box  input[type=text]{
	border: 2px solid #f2f2f2;
	outline: none;
	font-weight: bold;
	background-color: #f2f2f2;
}

.hotel-search-box  input[type=text]:hover{
	border-color: #ebebeb;
	background-color: #fff;
}

.hotel-search-box input[type=text]:active{
	border-color: #e5e5e5;
	background-color: #fff;
}

.date-in,
.date-out{
	width: 287px;
	padding: 8px 42px 8px 13px;
	background: url("../img/pict/sprite.png") no-repeat;
	background-position: -10px -150px;
}

.date-in:hover,
.date-out:hover { 
	background-position: -10px -30px; 
}

.date-in:active,
.date-out:active,
.date-in:focus,
.date-out:focus{ 
	background-position: -11px -90px;
}


.form-layout-row-half{ 
	width: 50%;
	margin-top: 5px;
}

.form-layout-row-half-btns{ 
	font-size: 0; 
}

.form-layout-row-half-btns input{ 
	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;
}

.form-layout-row-half-btns .btn-plus-minus{
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 26px;
	font-weight: bold;
	color: #a9a9a9;
	vertical-align: middle;
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.form-layout-row-half-btns .btn-plus-minus:hover{
	color: #000;
}

.form-layout-row-half-btns .btn-plus-minus:active{
	color: #81b3d2;
}

.form-layout-row-half-btns input[type=text]{
	width: 26px;
	padding: 4px;
	min-height: 26px;
	text-align: center;
}

.count-children{
	width: 58px;
	padding-left: 50px;
}

.form-layout-row input::-webkit-input-placeholder{
	text-transform: uppercase;
	color: #000;
}

.form-layout-row input:-moz-placeholder{
	text-transform: uppercase;
	color: #000;
}

.form-layout-row input{
	text-transform: uppercase;
	color: #000;
}

.hotel-search-box .btn-search{
	width: 100%;
	padding: 19px 0;
	margin-top: 55px;
	border: none;
	outline: none;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #81b3d2;
}

.hotel-search-box .btn-search:hover{
	background-color: #669ec0;
	cursor: pointer;
}

.hotel-search-box .btn-search:active{ 
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-search-box input[type=text]:focus {
	background-color: #fff;
}

.search-form{
	display: none;
	background-color: #fff;
	padding: 55px;
	box-shadow: 0 5px 15px 5px rgba(0,1,1,0.15);
}

.visible{
	display: block;
}

.form-box{
	position: relative;
	margin: 0;
	left: 0;
}

.modal-error {
 background-color: #FF5057;
}


.search-form-show {
  display: block;
  -webkit-animation: bounce 0.5s;
  -moz-animation: bounce 0.5s;
  -o-animation: bounce 0.5s;
  animation: bounce 0.5s;
}


/* Анимация формы поиска отеля*/

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-80px);
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(-80px);
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes bounce {
  0% {
    transform: translateY(-80px);
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {

  0% {
    transform: translateY(-80px);
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

 /* Карта */

.map {
	position: relative;
	overflow: hidden;
	min-height: 580px;
	background: #CCDCAB url("../img/images/map.jpg") no-repeat;
}

.map iframe{
	border: none;
}